.Button {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}

.Text {
  text-align: center;
}

.TrainStatus {
  text-align: center;
}

.StatusMessage {
  text-align: center;
  padding-top: 20px;
}