.bg {
  background-color: rgb(12, 87, 104);
}
.Lyrics {
  float: right;
  display: flex;
  height: 100px;
  width: 100px;
}

.Main {
  background-color: rgb(0, 0, 0);
}

.separation {
  background-color: rgb(0, 0, 0);
}

.App {
  background-color: rgb(0, 0, 0);
}
